
header {
    margin-left: 2px;
    background-color: #7ac2ee;
}
header h1 {
    text-align: center;
    color: blue;
}

main {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
    margin-top: 4px;
  }
  .current-weather {
    text-align: center;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
    height: auto;
    width: 300px;
  }
  .five-day-date {
    display: flex;
  flex-direction: row;
    text-align: center; /* Center the text within the element */
  }
  
  .five-day-temp,
  .five-day-humid,
  .five-day-wind {
    flex-basis: calc(20% - 1rem); /* Set the initial width of the other elements to 20% minus a small margin */
    margin: 0.5rem; /* Add a small margin around each element */
    text-align: center; /* Center the text within the element */
  }
  

